<div class="row">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="" aria-label="ingredient"
                        aria-describedby="basic-addon1" #ingredientNameInput/>
                </div>
                <div class="col-sm-2 form-group">
                    <label>Quantity</label>
                    <input type="number" class="form-control" placeholder="" aria-label="Quantity"
                        aria-describedby="basic-addon1" #quantityInput/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 form-group" style="padding: 5px">
                    <button class="btn btn-success  sm-2" type="button" (click)="onAddClick(ingredientNameInput.value,quantityInput.value)">Add</button>
                    <button class="btn btn-danger sm-2" type="button">Remove</button>
                    <button class="btn btn-info col-sm-2" type="button">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>